[user]
	name = sarace
	email = wshuai@proton.me
	signingkey = 0xF76F2E1F0D35111E

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[commit]
	gpgsign = false
[init]
	defaultBranch = main
